__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.python-version
.pytest_cache/

src/data/*.csv
src/data/*.json
src/data/*.zip
results.csv
./data/results.csv

pgdata/
.docker-db-data/
*.sql
*.dump

.env
.env.local
.env.shared

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.DS_Store
.vscode/
.idea/
*.swp
*.swo
results.csv
ratings.csv
movies.csv

*.pkl
*.joblib