services:
  db:
    image: postgres:16-alpine
    container_name: recommendation
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U recommendation -d user_prefs_db"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s 

volumes:
  pgdata:
    driver: local
